:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  padding: 1rem;
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: var(--light-grayish-blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1160px) {
  body {
    margin: 0;
    padding: 0;
  }
}

.container {
  max-width: 1110px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  gap: 1.5rem;
}
@media (min-width: 1160px) {
  .container {
    column-gap: 2rem;
  }
}

.card {
  padding: 1.5rem 2rem;
  border-radius: 8px;
  box-shadow: 1rem 8px 1.5rem rgba(207, 207, 207, 0.5);
  grid-column: 1/-1;
}
.card:nth-child(1) {
  background-color: var(--moderate-violet);
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 90% top;
}
@media (min-width: 650px) {
  .card:nth-child(1) {
    grid-column: span 4;
    order: 1;
  }
}
@media (min-width: 900px) {
  .card:nth-child(1) {
    grid-column: span 5;
    order: 1;
  }
}
@media (min-width: 1160px) {
  .card:nth-child(1) {
    grid-column: span 4;
    order: 1;
  }
}
.card:nth-child(2) {
  background-color: var(--very-dark-grayish-blue);
}
@media (min-width: 650px) {
  .card:nth-child(2) {
    grid-column: span 4;
    order: 3;
  }
}
@media (min-width: 900px) {
  .card:nth-child(2) {
    grid-column: span 3;
    order: 2;
  }
}
@media (min-width: 1160px) {
  .card:nth-child(2) {
    grid-column: span 2;
    order: 2;
  }
}
@media (min-width: 650px) {
  .card:nth-child(3) {
    grid-column: span 4;
    order: 4;
  }
}
@media (min-width: 900px) {
  .card:nth-child(3) {
    grid-column: span 3;
    order: 3;
  }
}
@media (min-width: 1160px) {
  .card:nth-child(3) {
    grid-column: span 2;
    order: 4;
  }
}
.card:nth-child(4) {
  background-color: var(--very-dark-blackish-blue);
}
@media (min-width: 650px) {
  .card:nth-child(4) {
    grid-column: span 8;
    order: 5;
  }
}
@media (min-width: 900px) {
  .card:nth-child(4) {
    grid-column: span 5;
    order: 4;
  }
}
@media (min-width: 1160px) {
  .card:nth-child(4) {
    grid-column: span 4;
    order: 5;
  }
}
@media (min-width: 650px) {
  .card:nth-child(5) {
    grid-column: span 4;
    order: 2;
  }
}
@media (min-width: 900px) {
  .card:nth-child(5) {
    grid-column: span 8;
    order: 5;
  }
}
@media (min-width: 1160px) {
  .card:nth-child(5) {
    grid-column: span 2;
    grid-row: span 2;
    order: 3;
  }
}
.card:nth-child(3), .card:nth-child(5) {
  background-color: var(--white);
}
.card:nth-child(3) h2, .card:nth-child(5) h2 {
  color: var(--very-dark-blackish-blue);
  opacity: 0.7;
}
.card:nth-child(3) p, .card:nth-child(5) p {
  color: var(--very-dark-grayish-blue);
}
.card:nth-child(3) p:last-child, .card:nth-child(5) p:last-child {
  color: gray;
}
.card__user {
  display: flex;
  align-items: center;
}
.card__user-img {
  border: 1px solid var(--light-gray);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 1rem;
}
.card__user-name p {
  margin: 0;
  color: var(--light-gray);
}
.card__user-name p:last-child {
  color: var(--light-gray);
  /* opacar */
  opacity: 0.5;
  font-size: 11px;
}
.card__testimonial-title {
  color: var(--light-grayish-blue);
}
.card__testimonial-paragraph {
  color: var(--light-gray);
  /* opacar */
  opacity: 0.7;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=style.css.map */
