html {
    box-sizing: border-box;
}
body {
    box-sizing: inherit;
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 1rem;
    background-color: var(--light-grayish-blue);
}