$desktop: 1160px;
$big-tablet: 900px;
$tablet: 650px;

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin big-tablet {
    @media (min-width: $big-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}