.card {
    // General card styles
    padding: 1.5rem 2rem;
    border-radius: 8px;
    box-shadow: 1rem 8px 1.5rem rgba(207, 207, 207, .5);
    transform: translateY(0);
    transition: transform .3s;

    grid-column: 1/-1;
    
    @include desktop {
        &:hover {
            transform: translateY(-6px);
            box-shadow: 1rem 8px 1.5rem rgba(72, 85, 106, .4);
            transition: transform .4s, box-shadow .6s;
        }
    }
    
    // Card 1
    &:nth-child(1) {
        background-color: var(--moderate-violet);
        background-image: url(../images/bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-position: 90% top;
        
        @include tablet {
            grid-column: span 4;
            order: 1;
        }
        @include big-tablet {
            grid-column: span 5;
            order: 1;
        }
        @include desktop {
            grid-column: span 4;
            order: 1;
        }
    }

    // Card 2
    &:nth-child(2) {
        background-color: var(--very-dark-grayish-blue);
        
        @include tablet {
            grid-column: span 4;
            order: 3;
        }
        @include big-tablet {
            grid-column: span 3;
            order: 2;
        }
        @include desktop {
            grid-column: span 2;
            order: 2;
        }
    }

    // Card 3
    &:nth-child(3) {        
        @include tablet {
            grid-column: span 4;
            order: 4;
        }
        @include big-tablet {
            grid-column: span 3;
            order: 3;
        }
        @include desktop {
            grid-column: span 2;
            order: 4;
        }
    }

    // Card 4
    &:nth-child(4) {
        background-color: var(--very-dark-blackish-blue);
        
        @include tablet {
            grid-column: span 8;
            order: 5;
        }
        @include big-tablet {
            grid-column: span 5;
            order: 4;
        }
        @include desktop {
            grid-column: span 4;
            order: 5;
        }
    }

    // Card 5
    &:nth-child(5) {        
        @include tablet {
            grid-column: span 4;
            order: 2;
        }
        @include big-tablet {
            grid-column: span 8;
            order: 5;
        }
        @include desktop {
            grid-column: span 2;
            grid-row: span 2;
            order: 3;
        }
    }

    // Card 3 and 5
    &:nth-child(3),
    &:nth-child(5) {
        background-color: var(--white);

        h2 {
            color: var(--very-dark-blackish-blue);
            opacity: .7;
        }

        p {
            color: var(--very-dark-grayish-blue);
            &:last-child {
                color: gray;
            }
        }
    }

    // User info
    &__user {
        display: flex;
        align-items: center;
        &-img {
            border: 1px solid var(--light-gray);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 1rem;
        }
        &-name p{
            margin: 0;
            color: var(--light-gray);
            &:last-child {
                color: var(--light-gray); /* opacar */
                opacity: .5;
                font-size: 11px;
            }
        }
    }

    &__testimonial {
        &-title {
            color: var(--light-grayish-blue);
        }
        &-paragraph {
            color: var(--light-gray); /* opacar */
            opacity: .7;
        }
    }
}